/Data
/ExtraData
/.idea
.idea
*.csv
*.pyc
.vscode
.project
.pydevproject
workspace.code-workspace

.settings/org.eclipse.core.resources.prefs

.env

.dbeaver/data-sources.json
.dbeaver/credentials-config.json

